body {
  cursor: none;
  /* Hide the default cursor */
  overflow-x: hidden;
}

.cursor-circle {
  width: 20px;
  height: 20px;
  background-color: rgba(226, 180, 188, 0.34);
  border-radius: 50%;
  position: fixed;
  /* Use fixed positioning */
  pointer-events: none;
  /* Make sure it doesn't block clicks */
  transform: translate(-50%, -50%);
  /* Center the circle at the cursor */
  transition: background-color 0.3s ease, border-color 0.3s ease;
  z-index: 1000;
  /* Make sure it's on top of other elements */
}



/* //css for home page */

.margin-top {
  margin-top: 2vh;
}

.homepage {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
}

.right {
  max-height: 130vh;
  width: 70%;
  margin-left: 20px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.right::-webkit-scrollbar {
  display: none;
}

.right img {
  height: 170px;
  width: 170px;
}

.avatarimg {
  height: 15px;
  width: 15px;
}

.author {
  display: flex;
  gap: 15px;
}

.avatar {
  font-size: 12px;
}

.homecard {
  display: flex;
  width: 69%;
}

.homecardtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.para {
  width: 50vw;
}

.rightbutton {
  display: flex;
  justify-content: center;
}

.rightbutton button {
  width: 50%;
}


.left {
  max-height: 130vh;
  width: 25%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.left::-webkit-scrollbar {
  display: none;
}


.leftimg {
  width: 80px;
  height: 70px;
}

.date {
  font-size: 12px;
}

.avatarimgleft {
  width: 15px;
  height: 15px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.305);
}

.boxfollow {
  width: 27%;
  padding: 5px 8px;
  border: 1px solid black;
  background-color: black;
  color: white;
}

.socialLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialLogo li {
  list-style: none;
  width: 50%;
}

.socialLogo li:first-child {
  background-color: #007bb5;
}

.socialLogo li:nth-child(2) {
  background-color: #F56040;
}

.socialLogo li a {
  text-decoration: none;
}

.list1stImg img {
  width: 50px;
  height: 50px;
}

.list2ndImg img {
  width: 50px;
  height: 50px;
}

/* //css for visitpage */
.visitpage {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.phase1 {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.visitpageimg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visitpageimg img {
  width: 300px;
  height: 300px;
}


/* //css for search page */
.homecardsearch {
  display: flex;
  margin: auto;
  width: 70%;
}

.homecardsearch img {
  height: 170px;
  width: 170px;
}

.homecardtextsearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* //css for footer */
.footer {
  overflow-x: hidden;
  background-color: rgba(14, 13, 13, 0.953);
  height: 27vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.subscribe {
  padding: 3px 6px;
  background-color: #ff0000;
  width: 50%;
  border-radius: 20px;
}

.subscribe:hover {
  background-color: white;
  color: black;
}

.footer li {
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.footerEnd {
  text-align: center;
  color: white;
  padding: 10px 0px;
  height: 5vh;
  background-color: rgba(14, 13, 13, 0.953);
}

.footer2 {
  width: 20vw;
  margin: auto;
}


/* //css for internsip page */
.homecardintern {
  display: flex;
  margin: auto;
  width: 70%;
}

.homecardintern img {
  height: 170px;
  width: 170px;
}

.homecardtextintern {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* // css for about and privacy policy */
.outer {
  /* max-width: 80vw; */
  margin: 0 200px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pric {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px 0;
}

.content {
  padding: 15px;
  align-items: center;
}

.heading {
  font-weight: bold;
  margin-bottom: 30px;
}

.blue {
  color: blue;
}

.box {
  text-align: center;
  margin: auto;
  background-color: white;
  color: black;
  border: none;
  width: 90%;
}

/* about page css */
.founder {
  height: 50vh;
  background-color: bisque;
  padding: 50px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.leftabout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightabout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightabout img {
  height: 30px;
  width: 110px;
}

/* contact us */
.conc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.frm {
  width: 60%;
}

.form-group {
  padding: 15px;
}


/* // css for news ticker */
.ticker-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  margin-top: 6.5vh;
}

.ticker {
  display: inline-block;
  animation: ticker 20s linear infinite;
  white-space: nowrap;
}

.ticker-item {
  display: inline-block;
  padding: 0 50px;
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* team members */
.members {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 150px;
  height: 70vh;
}


.image {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: space-around;
}

.photo {
  border-radius: 50%;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* event */
.box-event {
  margin: 50px 120px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-event {
  padding: 20px 30px;
  height: max-content;
}

.text-event {
  padding: 20px 30px;
}

/* .testimonial? */
.test {
  margin: 30px 120px;
  padding: 50px 40px;
  background-color: rgb(225, 225, 225);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px 30px;
}

.testimonial {
  border: 2px solid rgb(127, 127, 127);
  width: 40vw;
  padding: 10px;
}

.duo {
  margin: 0 20px;
  display: flex;
  gap: 30px;
}




@media only screen and (max-width: 900px) {
  .margin-top {
    margin-top: 7vh;
  }

  .ticker-container {
    margin-top: 8vh;
  }

  body {
    overflow-x: hidden;
  }

  .homepage {
    flex-direction: column;
  }

  .right {
    width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  .left {
    width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  .socialLogo {
    flex-direction: row;
    gap: 0px;
  }

  .homecard {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homecard img {
    width: 100%;
    height: 90%;
    margin-bottom: 30px;
  }

  .para {
    width: 93vw;
  }

  .table {
    width: 100%;
  }


  .homecardsearch {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homecardsearch img {
    width: 100%;
    height: 90%;
    margin-bottom: 30px;
  }

  .footer {
    height: 65vh;
    flex-wrap: wrap;
    width: 100vw;
  }

  .footer li {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
  }

  .footer ul{
    padding: 0px;
  }

  .footer1 {
    width: 100vw;
    margin: auto;
  }

  .footer2 {
    margin: auto;
    width: 70vw;
  }

  .footerEnd {
    font-size: 12px;
  }

  .homecardintern {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .homecardintern img {
    width: 100%;
    height: 90%;
    margin-bottom: 30px;
  }

  .phase1 {
    width: 90%;
  }

  .outer {
    margin: 0;
  }

  .content{
    padding: 0px;
  }

  .box {
    width: 97%;
  }

  .founder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10%;
  }

  .leftabout {
    width: 100vw;
  }

  .frm {
    width: 100%;
  }

  .last {
    width: 100%;
  }

  .image {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 90%;
  }

  .members {
    margin: auto;
    height: 100%;
    width: 100%;
  }

  .box-event {
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .duo {
    flex-direction: column;
  }

  .testimonial {
    width: 80vw;
    height: fit-content;
  }

  .text-event {
    width: 100%;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 1100px){
  .ticker-container {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 1300px) {
  .test {
    margin: 30px;
  }

  .outer {
    margin: 0 50px;
  }
}